header{
    text-align: center;
}

body{
    margin: 0 auto;
    width: 90%;
    padding: 2em;
    
}
section{
    display: grid;
}


table th{
    border: 2px solid black;
}

.result{
    font-size: 2em;
}
.conservareAlRiparoDallaLuce{
    font-size: 2em;
}
.conservareESomministrareAlRiparoDellaLuce{
    font-size: 2em;
}